
.footer{
    background-color:#f0f9fb;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin:0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Quicksand', sans-serif; 
    padding: 1rem 2rem;
} 

.footer>div {
    margin: 0 5px;
    
}

.footer>a {
    color:#03045E;
    text-decoration: none;
    font-size: 1.25rem;
    padding-right: 2rem;
}

.footer>a:hover {
    color: black;
    font-weight: 1000;
    font-size: 1.5rem;
}

@media screen and (min-width: 500px) {
    .footer {
    margin-left: 10%;
    margin-right: 10%;
    }
}